.ExperiencePageTitle h1{
    color: #34385b;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}
.Luminos-Container{
    font-weight: lighter;
    font-size: 15px;
    line-height: 28px;
}
.Luminos-Container h3{
    color:  #fb2968;
}

.Gameloft-Container{
    font-weight: lighter;
    font-size: 15px;
    line-height: 28px;

}

.Gameloft-Container h3{
    color:  #fb2968;

}

.Upc-Container{
    font-weight: lighter;
    font-size: 15px;
    line-height: 28px;

}

.Upc-Container h3{
    color:  #fb2968;

}

.Altex-Container{
    font-weight: lighter;
    font-size: 15px;
    line-height: 28px;

}

.Altex-Container h3{
    color:  #fb2968;

}

.list-group-item-action{
    font-weight: bold;
    color: #34385b;
}
.list-group-item.active{
    background-color: #fb2968;
    border-color: #fb2968;
}
.list-group-item{
    border: 13px solid rgba(0,0,0,.125);
}