


.nav-item a{
    color:  #fb2968;
    font-weight: bold;
    position: relative;
    top: 0;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.nav-item a:hover{
    top: -10px;
    color: #34385b;
    font-weight: bold;
    border-bottom: 2px solid #fb2968;
}



