.NavBar{
    padding: 40px 0 0;
    

}

.NavBar h1 {
    text-align: center;
    font-size: 60px;
    color:  #34385b;
    padding: 0 75px;
}
.justify-content-center{
    padding-top: 30px;
}

.nav-item a{
    color:  #fb2968;
    font-weight: bold;
    position: relative;
    top: 0;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.nav-item a:hover{
    top: -10px;
    color: #34385b;
    font-weight: bold;
    border-bottom: 2px solid #fb2968;
}



