#portrait{
    width: 200px;
    height: 200px;
    margin-right: 30px;
    border: indigo;
    border-radius: 20px;
}

.HomePage-Container{
    display: flex;
    flex-direction: row;
    padding: 100px;
}

.Homepage-Text{
    font-weight: lighter;
    font-size: 15px;

}